* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
nav ul {
  background-color: #2b073d;
  list-style: none;
  padding: 20px;
  display: flex;
  gap: 40px;
  font-size: large;
}

nav a {
  text-decoration: none;
  color: #e8efff;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 3px;
}

#conspiracies {
  margin: 0 auto;
  padding: 50px;
  width: 1000px;
}

#conspiracies li {
  list-style: none;
}

#conspiracies li p {
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}

.conspiracy {
  display: flex;
  justify-content: center;
}

.moonwrapper {
  height: 100%;
  background-color: #0a0b10;
  color: whitesmoke;
}
.moon {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.moon h1 {
  padding: 50px;
}
.moon img {
  height: 400px;
  gap: 200px;
}

h1 {
  font-family: "Special Gothic";
  font-style: normal;
}

p {
  font-family: Georgia;
}

nav ul a, button {
  font-family: Georgia;
}

/* ------------ START CSS FOR DROPDOWN ------------ */
/* Dropdown Button */
.dropbtn {
  background-color: #2b073d;
  color: white;
  font-size: large;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2b073d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b073d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #e8efff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3f1057;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
/* ------------ END CSS FOR DROPDOWN ------------ */